<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper footer-col">
      <p>{{ site.description }}</p>

      <p>Credits:</p>
      <ul>
        <li>
          <a href="https://dl.acm.org/doi/pdf/10.1145/3411757.3417752">Limoncelli, T. A. (2020). Five Nonobvious Remote Work Techniques. ACM Queue, 18(03)</a>
        </li>
        <li>
          <a href="https://www.nohello.com">nohello.com</a>
        </li>
      </ul>
    </div>

  </div>

</footer>
